# Mark platform-specific folders as generated/vendored to ignore them in language stats
windows/ linguist-generated=true
linux/ linguist-generated=true
macos/ linguist-generated=true

# Optionally, ensure specific C/C++ files within other directories are also ignored
*.c linguist-vendored
*.cc linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored